# Python compilado
__pycache__/
*.py[cod]

# Entornos Virtuales
venv/
.venv/

# IDEs y SO
.vscode/
.DS_Store
Thumbs.db

# Logs y Bases de datos locales
*.log
*.sqlite3

# Secretos y Credenciales (NUNCA SUBIR)
.env   

# --- Security Exclusions for Logger ---
# Global exclusions
*.sqlite3
*.sqlite3-wal
*.sqlite3-shm

# Directory specific exclusions (Shield)
logs/*
# Allow source code and DDL
!logs/*.py
!logs/*.sql
!logs/__init__.py  